* {
    margin: 0px;
    padding: 0px;
}

/****************** Heading ******************/

body {
    background-color: #b1b493;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    height: 50px;
}

.linkedin a {
    text-decoration: none;
}

.linkedin a:hover {
    color: white;
    background-color: #565d47;
    padding: 5px;
    border-radius: 5%;
}

footer {
    margin: 30px;
}